/*Grid layout*/
header
{
    display: grid;
    justify-items: stretch;
    align-items: start;
    grid-template-areas:
    "name address"
    "title address"
    ". address"
    ;
}

header .name
{
    grid-area: name;
}

header .title
{
    grid-area: title;
}

header address
{
    grid-area: address;
}

/* Add an underline for the header */
header
{
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to right, #FFF, #000, #FFF) 5;
    border-top: none;
    border-left: none;
}

/* Indentation and padding */
header
{
    padding: 0 1em 1em 0;
}

header h3
{
    padding-left: 0.5em;
}

/* format text and alignment */
address
{
    font-weight: lighter;
    text-align: right;
}
address a
{
    font-size: 1.2em;
}


/* Content after different sections of the address */
address .city::after
{
    content: ', ';
}
address .state::after
{
    content: ' ';
}

/* Handle linebreaks for each of the address fields */
address .street::after,
address .state::after,
address .zipcode::after,
address .phone::after,
address .email::after,
address .website::after
{
    content: '\A';
    white-space: pre;
}

/* Fixes */

/* Zipcode looks add the current scale */
address .zipcode
{

    font-size: 1.1em;
    font-weight: thin;
}