body
{
    font-family: 'Gruppo';
}

h1,
h2,
h3,
h4,
p
{
    margin: 0;
}

ul
{
    padding-left: 0.25em;
    list-style-type: none;
    font-size: 1.25em;
}

ul li::before
{
    content: '-';
    padding-right: 0.5em;
    font-weight: 900;
}

/*spacing for main*/
main
{
    padding-top: 1em;
}

section
{
    padding-bottom: 1em;
}

/*styling for sections*/
 section h3
 {
     padding-left: 1em;
 }

 section h4
 {
     padding-left: 3em;
 }
