/* Font */
body
{
	font-family: 'ZCOOL XiaoWei';
	font-weight: 100;
	padding: 2em;
}

h1,
h2,
h3,
h4
{
	font-family: 'Gruppo';
	font-weight: 400;
}

ul li::before
{
    content: '-';
    padding-right: 0.5em;
    font-weight: 900;
}

a
{
	color: #00F;
	text-decoration: none;
	border-bottom: 0.1pt solid rgba(0, 0, 255, 0.5);
}

/*spacing for main*/
main
{
    padding-top: 1em;
}

section
{
    padding-bottom: 0.75em;
}

h1,
h2,
h3,
h4,
p,
ul
{
    margin: 0;
}

section h3
{
    margin-left: 1em;
}

section h4
{
    margin-left: 3em;
}

ul
{
    padding-left: 0.5em;
    padding-top: 0.5em;
}

/*styling for sections*/

ul
{
    list-style-type: none;
}

