/*Page layout*/
.skills
{
		display: grid;
		grid-template-columns: 2fr 2fr 1fr;
		grid-auto-flow: column;
}

/* Bars */
.skills .skill-category:not(:last-child)
{
		border-width: 1px;
		border-style: solid;
		border-image: linear-gradient(to top, #FFF, #000, #FFF) 6;
		border-top: none;
		border-left: none;
		border-bottom: none;
}

/*font*/

/*spacing*/
.skills .skill-category ul
{
		columns: 2;
		column-fill: balance;
		padding-top: 0;
		padding-left: 2em;
}

/* Override for process*/
.skills .skill-category.skill-processes ul.list
{
		columns: unset;
}