/* Grid layout */
.experience
{
		padding-top: 0.5em;
		display: grid;
		grid-template-areas: 
				"title duration"
				"company location"
				"lists lists"
				;
}

.experience .company
{
		grid-area: company;
}

.experience .title
{
		grid-area: title;
}

.experience .location
{
		grid-area: location;
}

.experience .duration
{
		grid-area: duration;
}

.experience .lists
{
		grid-area: lists;
}

/* Font management */
.experience .duration,
.experience .location
{
		text-align: right;
}

.project article h1,
.project article h2,
.projects article h3,
.project article h4
{
	display: inline;
	border-bottom: 0.1pt solid rgba(0, 0, 0, 0.5);
}

/* Column layout for lists */
.experience ul.lists
{
		columns: 2;
}