/* Grid layout */
.experience
{
    display: grid;
    grid-template-areas: 
        "title duration"
        "company location"
        "lists lists"
        ;
}

.experience .company
{
    grid-area: company;
}

.experience .title
{
    grid-area: title;
}

.experience .location
{
    grid-area: location;
}

.experience .duration
{
    grid-area: duration;
}

.experience .lists
{
    grid-area: lists;
}

/* Font management */
.experience .duration,
.experience .location
{
    text-align: right;
}

/* Column layout for lists */
.experience ul.lists
{
    columns: 2;
}